<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
   </head>
   <body>
    <div class="wrapper">
      <div class="title">
        Welcome!
      </div>
      <form action="#">
        <div class="field">
            <input type="text" required>
            <label>First Name</label>
        </div>
        <div class="field">
            <input type="text" required>
            <label>Last Name</label>
        </div>
        <div class="field">
          <input type="text" required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" required>
          <label>Password</label>
        </div>
        <div class="field">
          <input type="submit" value="Register     ">
        </div>
        <div class="signup-link">
          Already have an account? <a href="#">Log-in!</a>
        </div>
      </form>
    </div>
  </body>
</html>