<mat-toolbar>
  <!-- Home Link -->
  <button mat-button routerLink="/home" aria-label="Home">
      <mat-icon>home</mat-icon>
  </button>

  <!-- Profile Button -->
  <!-- <button mat-icon-button aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
  </button> -->

  <button mat-icon-button routerLink="/reports" aria-label="Reports">
    <mat-icon>assignment</mat-icon>
  </button>

  <button mat-button routerLink="/template" aria-label="Template">
    <mat-icon>trending_up</mat-icon>
</button>

  <span class="spacer"></span>

  <!-- Search Field -->
  <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>Search</mat-label>
      <input matInput type="search" [(ngModel)]="searchQuery" aria-label="Search">
      <button mat-icon-button matSuffix aria-label="Search" (click)="search()">
          <mat-icon>search</mat-icon>
      </button>
  </mat-form-field>

  <!-- Filter Button -->
  <button mat-icon-button aria-label="Filter" (click)="openFilterDialog()">
      <mat-icon>filter_list</mat-icon>
  </button>

  <!-- Logout Button -->
  <button mat-button (click)="logout()" aria-label="Logout">
      <mat-icon>logout</mat-icon> Logout
  </button>
</mat-toolbar>
